* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #9b9ec9;
}

section.frontPage {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

section.frontPage div {
  width: 50vw;
  height: 50vh;
  background-color: black;
  border: 4px none white;
  -webkit-box-shadow: inset 0px 0px 0px red;
          box-shadow: inset 0px 0px 0px red;
}

section.frontPage div:nth-of-type(1) {
  -webkit-animation: RedBordersOne 5s 0.5s linear;
          animation: RedBordersOne 5s 0.5s linear;
  border-style: ridge none none ridge;
}

section.frontPage div:nth-of-type(2) {
  -webkit-animation: RedBordersTwo 5s 0.5s linear;
          animation: RedBordersTwo 5s 0.5s linear;
  border-style: ridge ridge none none;
}

section.frontPage div:nth-of-type(3) {
  -webkit-animation: RedBordersThree 5s 0.5s linear;
          animation: RedBordersThree 5s 0.5s linear;
  border-style: none none ridge ridge;
}

section.frontPage div:nth-of-type(4) {
  -webkit-animation: RedBordersFour 5s 0.5s linear;
          animation: RedBordersFour 5s 0.5s linear;
  border-style: none ridge ridge none;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 20%;
  border: 5px inset white;
  -webkit-box-shadow: 0px 0px 0px red;
          box-shadow: 0px 0px 0px red;
  width: 15vw;
  height: 10vh;
  background-color: black;
  color: white;
  font-size: 28px;
  font-family: 'zen tokyo zoo', cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 1;
  -webkit-animation: ButtonAnimation 3.5s ease both;
          animation: ButtonAnimation 3.5s ease both;
}

@-webkit-keyframes RedBordersOne {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset -10px -10px 20px red;
            box-shadow: inset -10px -10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset -10px -10px 20px red;
            box-shadow: inset -10px -10px 20px red;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}

@keyframes RedBordersOne {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset -10px -10px 20px red;
            box-shadow: inset -10px -10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset -10px -10px 20px red;
            box-shadow: inset -10px -10px 20px red;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}

@-webkit-keyframes RedBordersTwo {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset 10px -10px 20px red;
            box-shadow: inset 10px -10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset 10px -10px 20px red;
            box-shadow: inset 10px -10px 20px red;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@keyframes RedBordersTwo {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset 10px -10px 20px red;
            box-shadow: inset 10px -10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset 10px -10px 20px red;
            box-shadow: inset 10px -10px 20px red;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@-webkit-keyframes RedBordersThree {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset -10px 10px 20px red;
            box-shadow: inset -10px 10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset -10px 10px 20px red;
            box-shadow: inset -10px 10px 20px red;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes RedBordersThree {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset -10px 10px 20px red;
            box-shadow: inset -10px 10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset -10px 10px 20px red;
            box-shadow: inset -10px 10px 20px red;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@-webkit-keyframes RedBordersFour {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset 10px 10px 20px red;
            box-shadow: inset 10px 10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset 10px 10px 20px red;
            box-shadow: inset 10px 10px 20px red;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@keyframes RedBordersFour {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset 10px 10px 20px red;
            box-shadow: inset 10px 10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset 10px 10px 20px red;
            box-shadow: inset 10px 10px 20px red;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@-webkit-keyframes ButtonAnimation {
  0% {
    -webkit-box-shadow: 0px 0px 0px red;
            box-shadow: 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px red;
            box-shadow: 0px 0px 50px red;
  }
  51% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    font-size: 28px;
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    font-size: 0px;
    -webkit-box-shadow: 0px 0px 50px red;
            box-shadow: 0px 0px 50px red;
  }
}

@keyframes ButtonAnimation {
  0% {
    -webkit-box-shadow: 0px 0px 0px red;
            box-shadow: 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px red;
            box-shadow: 0px 0px 50px red;
  }
  51% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    font-size: 28px;
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    font-size: 0px;
    -webkit-box-shadow: 0px 0px 50px red;
            box-shadow: 0px 0px 50px red;
  }
}
/*# sourceMappingURL=style.css.map */