* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #58514e;
}

section.FrontPage {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

section.FrontPage div {
  width: 50vw;
  height: 50vh;
  background-color: black;
  border: 4px none white;
  -webkit-box-shadow: inset 0px 0px 0px red;
          box-shadow: inset 0px 0px 0px red;
}

section.FrontPage div:nth-of-type(1) {
  border-style: ridge none none ridge;
}

section.FrontPage div:nth-of-type(2) {
  border-style: ridge ridge none none;
}

section.FrontPage div:nth-of-type(3) {
  border-style: none none ridge ridge;
}

section.FrontPage div:nth-of-type(4) {
  border-style: none ridge ridge none;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 20%;
  border: 5px inset white;
  -webkit-box-shadow: 0px 0px 0px red;
          box-shadow: 0px 0px 0px red;
  width: 15vw;
  height: 10vh;
  background-color: black;
  color: white;
  font-size: 28px;
  font-family: 'zen tokyo zoo', cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 2;
}

button:hover {
  cursor: pointer;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.BtnAnimation {
  -webkit-animation: ButtonAnimation 3.5s ease both;
          animation: ButtonAnimation 3.5s ease both;
}

.DivAnimationOne {
  -webkit-animation: RedBordersOne 5s 0.5s linear both;
          animation: RedBordersOne 5s 0.5s linear both;
}

.DivAnimationTwo {
  -webkit-animation: RedBordersTwo 5s 0.5s linear both;
          animation: RedBordersTwo 5s 0.5s linear both;
}

.DivAnimationThree {
  -webkit-animation: RedBordersThree 5s 0.5s linear both;
          animation: RedBordersThree 5s 0.5s linear both;
}

.DivAnimationFour {
  -webkit-animation: RedBordersFour 5s 0.5s linear both;
          animation: RedBordersFour 5s 0.5s linear both;
}

@-webkit-keyframes RedBordersOne {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset -10px -10px 20px red;
            box-shadow: inset -10px -10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset -10px -10px 20px red;
            box-shadow: inset -10px -10px 20px red;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}

@keyframes RedBordersOne {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset -10px -10px 20px red;
            box-shadow: inset -10px -10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset -10px -10px 20px red;
            box-shadow: inset -10px -10px 20px red;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}

@-webkit-keyframes RedBordersTwo {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset 10px -10px 20px red;
            box-shadow: inset 10px -10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset 10px -10px 20px red;
            box-shadow: inset 10px -10px 20px red;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@keyframes RedBordersTwo {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset 10px -10px 20px red;
            box-shadow: inset 10px -10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset 10px -10px 20px red;
            box-shadow: inset 10px -10px 20px red;
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@-webkit-keyframes RedBordersThree {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset -10px 10px 20px red;
            box-shadow: inset -10px 10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset -10px 10px 20px red;
            box-shadow: inset -10px 10px 20px red;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes RedBordersThree {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset -10px 10px 20px red;
            box-shadow: inset -10px 10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset -10px 10px 20px red;
            box-shadow: inset -10px 10px 20px red;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@-webkit-keyframes RedBordersFour {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset 10px 10px 20px red;
            box-shadow: inset 10px 10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset 10px 10px 20px red;
            box-shadow: inset 10px 10px 20px red;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@keyframes RedBordersFour {
  0% {
    -webkit-box-shadow: inset 0px 0px 0px red;
            box-shadow: inset 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: inset 10px 10px 20px red;
            box-shadow: inset 10px 10px 20px red;
  }
  51% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-box-shadow: inset 10px 10px 20px red;
            box-shadow: inset 10px 10px 20px red;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@-webkit-keyframes ButtonAnimation {
  0% {
    -webkit-box-shadow: 0px 0px 0px red;
            box-shadow: 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px red;
            box-shadow: 0px 0px 50px red;
  }
  51% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    font-size: 28px;
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    font-size: 0px;
    -webkit-box-shadow: 0px 0px 50px red;
            box-shadow: 0px 0px 50px red;
  }
}

@keyframes ButtonAnimation {
  0% {
    -webkit-box-shadow: 0px 0px 0px red;
            box-shadow: 0px 0px 0px red;
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px red;
            box-shadow: 0px 0px 50px red;
  }
  51% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    font-size: 28px;
  }
  100% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    font-size: 0px;
    -webkit-box-shadow: 0px 0px 50px red;
            box-shadow: 0px 0px 50px red;
  }
}

section.MainGallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

section.MainGallery img {
  position: absolute;
  background-color: #fff;
  width: 25vw;
  height: 35vh;
  padding: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

section.MainGallery img:nth-of-type(1) {
  top: 15%;
  left: 70%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 4px;
          box-shadow: 2px 2px 4px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

section.MainGallery img:nth-of-type(2) {
  top: 60%;
  left: 35%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

section.MainGallery img:nth-of-type(3) {
  top: 35%;
  left: 10%;
}

section.MainGallery img:nth-of-type(4) {
  top: 45%;
  left: 50%;
}

section.MainGallery img:hover {
  z-index: 10;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border: 2px solid black;
}
/*# sourceMappingURL=style.css.map */