// *******************************Beginning of the main gallery **************************
section
    position: fixed
    left: 0
    top: 0
    width: 100vw
    height: 100vh
    div:nth-of-child(1)
        width: 15vw
        height: 25vh
        background-color: #fff
