// *******************************Beginning of the main gallery **************************
section.MainGallery
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-image: url(../Images/wood.jpg)
    background-size: 100vw 100vh
    img
        position: absolute
        background-color: white
        width: 25vw
        height: 35vh
        // padding: 10px
        transition: 0.7s ease
    // img:nth-of-type(1)
    //     top: 15%
    //     left: 65%
    //     width: 30vw
    //     height: 40vh
    //     padding: 10px 10px 30px 10px
    //     border: 2px solid rgba(0,0 ,0 ,0.5 )
    //     box-shadow: 2px 2px 4px
    //     transform: rotate(20deg)
    img:nth-of-type(2)
        top: 60%
        left: 35%
        transform: rotate(-5deg)
    img:nth-of-type(3)
        top: 35%
        left: 10%
    img:nth-of-type(4)
        top: 45%
        left: 50%
    img:nth-of-type(5)
    // img:hover
    //     z-index: 10
    //     cursor: pointer
    //     transform: rotate(0deg)
    //     border: 2px solid rgba(0,0 ,0 ,1 )
    figure
        position: absolute
        background-color: white
        width: 25vw
        height: 35vh
        padding: 10px
        transition: 0.7s ease
    figure:nth-of-type(1)
        top: 15%
        left: 65%
        width: 30vw
        height: 40vh
        padding: 10px 10px 30px 10px
        border: 2px solid rgba(0,0 ,0 ,0.5 )
        box-shadow: 2px 2px 4px
        transform: rotate(20deg)
