*
    padding: 0
    margin: 0
    box-sizing: border-box
body
    background-color: #9b9ec9
section.frontPage
    overflow: hidden
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100vw
    height: 100vh
    div
        width: 50vw
        height: 50vh
        background-color: black
        border: 4px none white
        transition: 1.5s linear
    div:nth-of-type(1)
        border-style: ridge none none ridge
        box-shadow: 0px 0px 0px red
    div:nth-of-type(2)
        border-style: ridge ridge none none
        box-shadow: 0px 0px 0px red
    div:nth-of-type(3)
        border-style: none none ridge ridge
        box-shadow: 0px 0px 0px red
    div:nth-of-type(4)
        border-style: none ridge ridge none
        box-shadow: 0px 0px 0px red
button
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    border-radius: 20%
    border: 5px inset white
    box-shadow: 0px 0px 10px red
    width: 15vw
    height: 10vh
    background-color: black
    color: white
    font-size: 22px
    font-family: 'zen tokyo zoo', cursive
    text-transform: uppercase
    letter-spacing: 1px
    z-index: 1
    transform-origin: center
    transition: 1.5s linear
button:hover
    cursor: pointer
    width: 0
    height: 0
    font-size: 0px
    border: 0px inset white
    box-shadow: 0px 0px 0px red

button:hover ~ div:nth-of-type(1)
    transform: translate(0,-100%)
button:hover ~ div:nth-of-type(2)
    transform: translate(100%,0)
button:hover ~ div:nth-of-type(3)
    transform: translate(-100%,0)
button:hover ~ div:nth-of-type(4)
    transform: translate(0,100%)
